*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

img,
svg {
	max-width: 100%;
}

body {
	font-family: 'Montserrat', sans-serif;
	min-height: 100vh;
	background-color: #f2eae2;
}

.grid-flow {
	display: grid;
	place-items: center;
}

.container {
	max-width: 34.3rem;
	margin: 0 1.6rem;
	background-color: #fff;
	border-radius: 1rem;
	overflow: hidden;

	.item-image {
		line-height: 0px;

		.item-image-mobile {
			display: block;
		}

		.item-image-desktop {
			display: none;
		}
	}

	.item-description {
		padding: 2.4rem;

		.item-type {
			color: hsla(228, 12%, 48%, 1);
			font-size: 1.5rem;
			font-weight: 500;
			text-transform: uppercase;
			letter-spacing: 5px;
		}

		.item-name {
			margin-top: 1.2rem;
			color: hsla(212, 21%, 14%, 1);
			font-family: 'Fraunces', serif;
			font-size: 3.2rem;
			font-weight: 700;
		}

		.item-text {
			margin-top: 1.6rem;
			color: hsla(228, 12%, 48%, 1);
			font-size: 1.4rem;
			font-weight: 500;
		}

		.item-price-box {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			gap: 1.9rem;
			padding: 2.4rem 0 2rem;

			.item-price-discount {
				color: hsla(157, 36%, 37%, 1);
				font-family: 'Fraunces', serif;
				font-size: 3.2rem;
				font-weight: 700;
			}

			.item-price {
				color: hsla(228, 12%, 48%, 1);
				font-size: 1.3rem;
				font-weight: 500;
				text-decoration-line: line-through;
			}
		}

		.item-btn {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 1.16rem;
			width: 100%;
			padding: 1.6rem 0;
			background-color: hsla(157, 36%, 37%, 1);
			border: none;
			border-radius: 0.8rem;
			color: #fff;
			transition: background-color 0.3s;
			cursor: pointer;

			.item-btn-text {
				font-size: 1.4rem;
				font-weight: 700;
			}
		}
	}
}

@media (min-width: 600px) {
	.container.grid-flow {
		max-width: 60rem;
		grid-template-columns: 1fr 1fr;
	}

	.container {
		.item-description {
			padding: 3.2rem;
            height: 100%;
		}
		.item-image {
			.item-image-mobile {
				display: none;
			}

			.item-image-desktop {
				display: block;
			}
		}

		.item-btn:hover,
		.item-btn:active {
			background-color: hsla(157, 43%, 18%, 1);
		}
	}
}
